{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Cudo Compute service",
    "version": "1.0.0"
  },
  "host": "rest.compute.cudo.org",
  "paths": {
    "/v1/api-keys": {
      "get": {
        "description": "List the details of all API keys created by the requesting user. This does not include the API key itself which is only visible once when the API key is created.",
        "tags": [
          "API keys"
        ],
        "summary": "List",
        "operationId": "ListApiKeys",
        "parameters": [
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListApiKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new API key for the requesting user. The API key is returned in the response, and this is the only time it can be viewed.",
        "tags": [
          "API keys"
        ],
        "summary": "Generate",
        "operationId": "GenerateApiKey",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateApiKeyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/api-keys/{name}": {
      "delete": {
        "description": "Deletes an API key, revoking all access for requests that use the key.",
        "tags": [
          "API keys"
        ],
        "summary": "Delete",
        "operationId": "DeleteApiKey",
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/auth": {
      "get": {
        "description": "Responds with details of the user when suitable authentication material is sent with the request.",
        "tags": [
          "User"
        ],
        "summary": "Get",
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes your user, deleting all records of your user, and revoking access to every resource.",
        "tags": [
          "User"
        ],
        "summary": "Delete",
        "operationId": "DeleteUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/auth/create-identity-verification-session": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get identity verification session",
        "operationId": "CreateIdentityVerificationSession",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/IdentityVerificationSession"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/auth/permissions": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "summary": "List",
        "operationId": "ListUserPermissions",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "query"
          },
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "query"
          },
          {
            "type": "string",
            "name": "billingAccountId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListUserPermissionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List billing accounts",
        "operationId": "ListBillingAccounts",
        "parameters": [
          {
            "type": "string",
            "name": "pageToken",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListBillingAccountsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create a billing account",
        "operationId": "CreateBillingAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBillingAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get invoices",
        "operationId": "GetBillingAccountStripeInvoices",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "string",
            "name": "startingAfter",
            "in": "query"
          },
          {
            "type": "string",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetBillingAccountStripeInvoicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/invoices/outstanding": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get outstanding invoices",
        "operationId": "ListOutstandingStripeInvoices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListOutstandingStripeInvoicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{billingAccount.id}": {
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Update billing account",
        "operationId": "UpdateBillingAccount",
        "parameters": [
          {
            "type": "string",
            "name": "billingAccount.id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "updateMask"
              ],
              "properties": {
                "billingAccount": {
                  "type": "object",
                  "properties": {
                    "billingThreshold": {
                      "$ref": "#/definitions/Decimal",
                      "readOnly": true
                    },
                    "createBy": {
                      "type": "string",
                      "readOnly": true
                    },
                    "createTime": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "demandEnabled": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "invoiceTime": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "monthlySpend": {
                      "type": "string"
                    },
                    "stripeRef": {
                      "type": "string"
                    },
                    "supplyEnabled": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "taxIds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "$ref": "#/definitions/TaxId"
                      }
                    }
                  }
                },
                "updateMask": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{billingAccountId}/add-user-permission": {
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Add billing account user",
        "operationId": "AddBillingAccountUserPermission",
        "parameters": [
          {
            "type": "string",
            "name": "billingAccountId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "userEmail",
                "role"
              ],
              "properties": {
                "dataCenterId": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "role": {
                  "$ref": "#/definitions/Role"
                },
                "userEmail": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{billingAccountId}/remove-user-permission": {
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Remove billing account user",
        "operationId": "RemoveBillingAccountUserPermission",
        "parameters": [
          {
            "type": "string",
            "name": "billingAccountId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "userId",
                "role"
              ],
              "properties": {
                "dataCenterId": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "role": {
                  "$ref": "#/definitions/Role"
                },
                "userId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{billingAccountId}/spend/details": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get spend details",
        "operationId": "GetBillingAccountSpendDetails",
        "parameters": [
          {
            "type": "string",
            "name": "billingAccountId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "startTime",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "endTime",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetBillingAccountSpendDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get a billing account",
        "operationId": "GetBillingAccount",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Delete billing account",
        "operationId": "DeleteBillingAccount",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{id}/details": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get billing account details",
        "operationId": "GetBillingAccountDetails",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetBillingAccountDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{id}/payment-methods": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get payment methods",
        "operationId": "GetBillingAccountPaymentMethods",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccountPaymentMethods"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{id}/payment-methods/{paymentMethodId}": {
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Remove payment method",
        "operationId": "RemoveBillingAccountPaymentMethod",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "paymentMethodId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RemoveBillingAccountPaymentMethodResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{id}/payment-methods/{paymentMethodId}/set-default": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Set default payment method",
        "operationId": "SetBillingAccountDefaultPaymentMethod",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "paymentMethodId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/SetBillingAccountDefaultPaymentMethodResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/billing-accounts/{id}/setup-intent": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get setup intent",
        "operationId": "GetBillingAccountSetupIntent",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/BillingAccountSetupIntent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers": {
      "get": {
        "description": "Returns the data centers in an organization",
        "tags": [
          "DataCenters"
        ],
        "summary": "List data centers",
        "operationId": "ListDataCenters",
        "parameters": [
          {
            "type": "string",
            "name": "pageToken",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListDataCentersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "Create data center",
        "operationId": "CreateDataCenter",
        "parameters": [
          {
            "name": "dataCenter",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataCenter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DataCenter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenter.id}": {
      "patch": {
        "description": "Updates a data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "Update data center",
        "operationId": "UpdateDataCenter",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenter.id",
            "in": "path",
            "required": true
          },
          {
            "name": "dataCenter",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "oneFrontendId"
              ],
              "properties": {
                "createBy": {
                  "type": "string",
                  "readOnly": true
                },
                "lngLat": {
                  "$ref": "#/definitions/Point"
                },
                "oneFrontendId": {
                  "type": "string"
                },
                "regionId": {
                  "type": "string"
                },
                "renewableEnergy": {
                  "type": "boolean"
                },
                "supplierName": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DataCenter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/add-user-permission": {
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Add data center user",
        "operationId": "AddDataCenterUserPermission",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "userEmail",
                "role"
              ],
              "properties": {
                "billingAccountId": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "role": {
                  "$ref": "#/definitions/Role"
                },
                "userEmail": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/clusters": {
      "get": {
        "description": "Returns the clusters in a data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "List clusters",
        "operationId": "ListClusters",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListClustersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/host-count": {
      "get": {
        "description": "Returns the number of hosts in a data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "Get host count",
        "operationId": "CountHosts",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountHostsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/hosts": {
      "get": {
        "description": "Returns the hosts in a data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "List hosts",
        "operationId": "ListHosts",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListHostsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/machine-types": {
      "get": {
        "tags": [
          "MachineTypes"
        ],
        "summary": "Get",
        "operationId": "ListMachineTypes",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListMachineTypesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/machine-types/{machineType}": {
      "get": {
        "tags": [
          "MachineTypes"
        ],
        "summary": "Get",
        "operationId": "GetMachineType",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "machineType",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMachineTypeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/machine-types/{machineType}/live-utilization": {
      "get": {
        "tags": [
          "MachineTypes"
        ],
        "summary": "Get",
        "operationId": "GetMachineTypeLiveUtilization",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "machineType",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetMachineTypeLiveUtilizationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{dataCenterId}/remove-user-permission": {
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Remove data center user",
        "operationId": "RemoveDataCenterUserPermission",
        "parameters": [
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "userId",
                "role"
              ],
              "properties": {
                "billingAccountId": {
                  "type": "string"
                },
                "projectId": {
                  "type": "string"
                },
                "role": {
                  "$ref": "#/definitions/Role"
                },
                "userId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{id}": {
      "get": {
        "description": "Returns a data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "Get data center",
        "operationId": "GetDataCenter",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DataCenter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "Delete data center",
        "operationId": "DeleteDataCenter",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{id}/live-utilization": {
      "get": {
        "description": "Returns the live utilization of a data center",
        "tags": [
          "DataCenters"
        ],
        "summary": "Get live utilization",
        "operationId": "GetDataCenterLiveUtilization",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDataCenterLiveUtilizationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{id}/revenue": {
      "get": {
        "description": "Returns the revenue of a data center over time",
        "tags": [
          "DataCenters"
        ],
        "summary": "Get revenue time series",
        "operationId": "GetDataCenterRevenueTimeSeries",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "startTime",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "endTime",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "INTERVAL_UNKNOWN",
              "INTERVAL_DAY",
              "INTERVAL_WEEK",
              "INTERVAL_MONTH"
            ],
            "type": "string",
            "default": "INTERVAL_UNKNOWN",
            "name": "interval",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDataCenterRevenueTimeSeriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/data-centers/{id}/revenue-by-resource": {
      "get": {
        "description": "Returns the revenue of a data center by resource (CPU, Memory, Storage, etc.)",
        "tags": [
          "DataCenters"
        ],
        "summary": "Get revenue by resource",
        "operationId": "GetDataCenterRevenueByResource",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "startTime",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "endTime",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDataCenterRevenueByResourceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/project/{projectId}/ssh-keys": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List SSH keys",
        "operationId": "ListProjectSshKeys",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListProjectSshKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List",
        "operationId": "ListProjects",
        "parameters": [
          {
            "type": "string",
            "name": "pageToken",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "project",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get",
        "operationId": "GetProject",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete",
        "operationId": "DeleteProject",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{project.id}": {
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update",
        "operationId": "UpdateProject",
        "parameters": [
          {
            "type": "string",
            "name": "project.id",
            "in": "path",
            "required": true
          },
          {
            "name": "project",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "billingAccountId"
              ],
              "properties": {
                "billingAccountId": {
                  "type": "string"
                },
                "createBy": {
                  "type": "string",
                  "readOnly": true
                },
                "resourceCount": {
                  "type": "integer",
                  "format": "int32",
                  "readOnly": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/add-user-permission": {
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Add project user",
        "operationId": "AddProjectUserPermission",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "userEmail",
                "role"
              ],
              "properties": {
                "billingAccountId": {
                  "type": "string"
                },
                "dataCenterId": {
                  "type": "string"
                },
                "role": {
                  "$ref": "#/definitions/Role"
                },
                "userEmail": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/count-vms": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Count",
        "operationId": "CountVMs",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CountVMsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/disk/{id}/attach": {
      "patch": {
        "tags": [
          "Disks"
        ],
        "summary": "Attach storage disk to VM",
        "operationId": "AttachStorageDisk",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "vmId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/AttachStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/disk/{id}/detach": {
      "put": {
        "tags": [
          "Disks"
        ],
        "summary": "Detach storage disk from VM",
        "operationId": "DetachStorageDisk",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DetachStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/disks": {
      "get": {
        "tags": [
          "Disks"
        ],
        "summary": "List disks",
        "operationId": "ListDisks",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListDisksResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Disks"
        ],
        "summary": "Create storage disk",
        "operationId": "CreateStorageDisk",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dataCenterId": {
                  "type": "string"
                },
                "disk": {
                  "$ref": "#/definitions/Disk"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/disks/{id}": {
      "get": {
        "tags": [
          "Disks"
        ],
        "summary": "List disks",
        "operationId": "GetDisk",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Disks"
        ],
        "summary": "Delete storage disk",
        "operationId": "DeleteStorageDisk",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteStorageDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/disks/{id}/revert": {
      "post": {
        "tags": [
          "Disks"
        ],
        "summary": "Revert Disk to Snapshot",
        "operationId": "RevertDisk",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "snapshotId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "name": "vmId",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RevertDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/disks/{id}/snapshots": {
      "get": {
        "tags": [
          "Disks"
        ],
        "summary": "List Disk Snapshots",
        "operationId": "ListDiskSnapshots",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListDiskSnapshotsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Disks"
        ],
        "summary": "Create Disk Snapshot",
        "operationId": "CreateDiskSnapshot",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "snapshotId",
                "vmId"
              ],
              "properties": {
                "snapshotId": {
                  "type": "string"
                },
                "vmId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateDiskSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Disks"
        ],
        "summary": "Delete Disk Snapshots",
        "operationId": "DeleteDiskSnapshot",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "snapshotId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "name": "vmId",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteDiskSnapshotResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/images": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "List private VM images",
        "operationId": "ListPrivateVMImages",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListPrivateVMImagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Create private VM image",
        "operationId": "CreatePrivateVMImage",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "vmId",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "name": "description",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreatePrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/images/{id}": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Get private VM image",
        "operationId": "GetPrivateVMImage",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetPrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Update private VM image",
        "operationId": "UpdatePrivateVMImage",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "description",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdatePrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Delete private VM image",
        "operationId": "DeletePrivateVMImage",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeletePrivateVMImageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/networks": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "List networks",
        "operationId": "ListNetworks",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListNetworksResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Networks"
        ],
        "summary": "Create network",
        "operationId": "CreateNetwork",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "dataCenterId",
                "id",
                "cidrPrefix",
                "networkId"
              ],
              "properties": {
                "cidrPrefix": {
                  "type": "string"
                },
                "dataCenterId": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "networkId": {
                  "type": "string"
                },
                "vrouterSize": {
                  "$ref": "#/definitions/VRouterSize"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/networks/security-groups": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "List security groups",
        "operationId": "ListSecurityGroups",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListSecurityGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/networks/security-groups/{id}": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "Get a security group",
        "operationId": "GetSecurityGroup",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Networks"
        ],
        "summary": "Delete security group",
        "operationId": "DeleteSecurityGroup",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/networks/{id}": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "Get network",
        "operationId": "GetNetwork",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Networks"
        ],
        "summary": "Delete network",
        "operationId": "DeleteNetwork",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "networkId",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/networks/{id}/start": {
      "post": {
        "tags": [
          "Networks"
        ],
        "summary": "Start network",
        "operationId": "StartNetwork",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "networkId",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/StartNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/networks/{id}/stop": {
      "post": {
        "tags": [
          "Networks"
        ],
        "summary": "Stop network",
        "operationId": "StopNetwork",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "networkId",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/StopNetworkResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/object-storage/activate": {
      "post": {
        "tags": [
          "Object Storage"
        ],
        "summary": "Allow the use of S3 compatible storage in a project",
        "operationId": "Activate",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dataCenterId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/object-storage/buckets": {
      "get": {
        "tags": [
          "Object Storage"
        ],
        "summary": "List buckets",
        "operationId": "ListObjectStorageBuckets",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListObjectStorageBucketsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/object-storage/buckets/{id}": {
      "get": {
        "tags": [
          "Object Storage"
        ],
        "summary": "Get details for a bucket",
        "operationId": "GetObjectStorageBucket",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ObjectStorageBucket"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/object-storage/session-key": {
      "get": {
        "tags": [
          "Object Storage"
        ],
        "summary": "Generate temporary key for storage bucket access",
        "operationId": "GetObjectStorageSessionKey",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "dataCenterId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetObjectStorageSessionKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/object-storage/users": {
      "get": {
        "tags": [
          "Object Storage"
        ],
        "summary": "List storage users",
        "operationId": "ListObjectStorageUsers",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListObjectStorageUsersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Object Storage"
        ],
        "summary": "Create user that stores keys for storage buckets",
        "operationId": "CreateObjectStorageUser",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ObjectStorageUser"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/object-storage/users/{id}": {
      "post": {
        "tags": [
          "Object Storage"
        ],
        "summary": "Generate access key for storage buckets",
        "operationId": "GenerateObjectStorageKey",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ObjectStorageKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Object Storage"
        ],
        "summary": "Delete object storage user",
        "operationId": "DeleteObjectStorageUser",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteObjectStorageUserResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/object-storage/users/{id}/keys": {
      "get": {
        "tags": [
          "Object Storage"
        ],
        "summary": "List storage user keys",
        "operationId": "ListObjectStorageKeys",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageNumber",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "pageSize",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListObjectStorageKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Object Storage"
        ],
        "summary": "Delete object storage user",
        "operationId": "DeleteObjectStorageKey",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "accessKey",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DeleteObjectStorageKeyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/remove-user-permission": {
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Remove project user",
        "operationId": "RemoveProjectUserPermission",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "userId",
                "role"
              ],
              "properties": {
                "billingAccountId": {
                  "type": "string"
                },
                "dataCenterId": {
                  "type": "string"
                },
                "role": {
                  "$ref": "#/definitions/Role"
                },
                "userId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vm": {
      "post": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Create virtual machine",
        "operationId": "CreateVM",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "vmId",
                "bootDiskImageId"
              ],
              "properties": {
                "bootDisk": {
                  "$ref": "#/definitions/Disk"
                },
                "bootDiskImageId": {
                  "type": "string"
                },
                "cpuModel": {
                  "type": "string"
                },
                "customSshKeys": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "dataCenterId": {
                  "type": "string"
                },
                "gpuModel": {
                  "type": "string"
                },
                "gpus": {
                  "type": "integer",
                  "format": "int32"
                },
                "machineType": {
                  "type": "string"
                },
                "maxPriceHr": {
                  "$ref": "#/definitions/Decimal"
                },
                "memoryGib": {
                  "type": "integer",
                  "format": "int32"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "nics": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/CreateVMRequest.NIC"
                  }
                },
                "password": {
                  "type": "string"
                },
                "securityGroupIds": {
                  "type": "array",
                  "title": "ignored if any nics are provided",
                  "items": {
                    "type": "string"
                  }
                },
                "sshKeySource": {
                  "$ref": "#/definitions/SshKeySource"
                },
                "startScript": {
                  "type": "string"
                },
                "storageDiskIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "vcpus": {
                  "type": "integer",
                  "format": "int32"
                },
                "vmId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vm/{id}/metadata": {
      "post": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Update VM metadata",
        "operationId": "UpdateVMMetadata",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "merge": {
                  "type": "boolean"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/UpdateVMMetadataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vm/{id}/security-group/attach": {
      "patch": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Attach security group to VM",
        "operationId": "AttachSecurityGroup",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "securityGroupId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/AttachSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vm/{id}/security-group/detach": {
      "patch": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Attach security group to VM",
        "operationId": "DetachSecurityGroup",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "securityGroupId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DetachSecurityGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "List",
        "operationId": "ListVMs",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "networkId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListVMsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Get",
        "operationId": "GetVM",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}/connect": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Connect via VNC",
        "operationId": "ConnectVM",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "connectionId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ConnectVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}/disks": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "List disks attached to VM",
        "operationId": "ListVMDisks",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListVMDisksResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Resize a VM's disk",
        "operationId": "ResizeVMDisk",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "diskId",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "name": "sizeGib",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ResizeVMDiskResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}/monitor": {
      "get": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Monitor",
        "operationId": "MonitorVM",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/MonitorVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}/reboot": {
      "post": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Reboot",
        "operationId": "RebootVM",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RebootVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}/resize": {
      "post": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Resize vCPU and memory of VM",
        "operationId": "ResizeVM",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "name": "vcpus",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "name": "memoryGib",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ResizeVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}/start": {
      "post": {
        "tags": [
          "Virtual Machines"
        ],
        "summary": "Start",
        "operationId": "StartVM",
        "parameters": [
          {
            "type": "string",
            "name": "projectId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/StartVMResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/vms/{id}/stop": {
      "post": {
[...]
